USE [master]
GO
/****** Object:  Database [rentsystem]    Script Date: 2021-10-06 20:34:55 ******/
CREATE DATABASE [rentsystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rentsystem', FILENAME = N'd:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\rentsystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'rentsystem_log', FILENAME = N'd:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\rentsystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rentsystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rentsystem]
GO
/****** Object:  Table [dbo].[admin_user]    Script Date: 2021-10-06 20:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_user](
	[id] [int] NOT NULL,
	[user_name] [nchar](250) NOT NULL,
	[password] [nchar](250) NOT NULL,
 CONSTRAINT [PK_admin_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent_Repairs]    Script Date: 2021-10-06 20:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent_Repairs](
	[rr_idrepair] [int] NOT NULL,
	[rr_idrent] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rents]    Script Date: 2021-10-06 20:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rents](
	[Id_Rent] [int] NOT NULL,
	[computer_model] [nchar](50) NOT NULL,
	[compouter_sn] [nchar](30) NOT NULL,
	[accessories] [nchar](50) NOT NULL,
	[contract] [nchar](100) NULL,
	[rents_students_id] [int] NOT NULL,
	[inv_no] [nchar](20) NULL,
 CONSTRAINT [PK_Rents] PRIMARY KEY CLUSTERED 
(
	[Id_Rent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Repairs]    Script Date: 2021-10-06 20:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repairs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[problem_desc] [text] NULL,
	[rent_id] [int] NULL,
	[repairs_students_id] [int] NOT NULL,
	[status_repair] [nvarchar](50) NULL,
	[sn] [nchar](30) NOT NULL,
	[inv_no] [nchar](20) NULL,
 CONSTRAINT [PK_Repairs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2021-10-06 20:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] NOT NULL,
	[first_name] [nchar](250) NOT NULL,
	[last_name] [nchar](250) NOT NULL,
	[group] [int] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_admin_user]    Script Date: 2021-10-06 20:34:55 ******/
CREATE NONCLUSTERED INDEX [IX_admin_user] ON [dbo].[admin_user]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Students]    Script Date: 2021-10-06 20:34:55 ******/
CREATE NONCLUSTERED INDEX [IX_Students] ON [dbo].[Students]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rent_Repairs]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Repairs_Rents] FOREIGN KEY([rr_idrent])
REFERENCES [dbo].[Rents] ([Id_Rent])
GO
ALTER TABLE [dbo].[Rent_Repairs] CHECK CONSTRAINT [FK_Rent_Repairs_Rents]
GO
ALTER TABLE [dbo].[Rents]  WITH CHECK ADD  CONSTRAINT [FK_Rents_Students] FOREIGN KEY([rents_students_id])
REFERENCES [dbo].[Students] ([ID])
GO
ALTER TABLE [dbo].[Rents] CHECK CONSTRAINT [FK_Rents_Students]
GO
USE [master]
GO
